*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
      display:grid;
      border: 1px solid black;
      margin-top: 20px;
      gap: 10px 10px;
      grid-template-columns: auto auto auto auto auto auto;
     }
     .m{
        border: 2px solid black;
     }
 .m1{
      display: grid;
      grid-template-columns: auto auto;
      gap:10px 10px;
      
    }
    .one1{
        border: 2px solid black;
        text-align: center;
        background-image: url(g1.jpg);
        background-size: cover;
    }
    #two2{
        grid-column: 2/4;
    }
    #three3{
        grid-column: 1/3;
    }
    #six6{
        grid-column: 2/4;
    }
    .m2{
        display: grid;
        text-align: center;
        grid-template-columns: auto auto auto;
        /* gap: 10px 10px; */
    }
    #o3{
        grid-column-start:2; 
        grid-row: 1/3;
    }
     #o5{
        grid-row: 2/4;
    } 
      #o7{
        grid-column-start:3;
        grid-row: 2/4;
    }  
    .one2{
        display: grid;
        border: 2px solid black;  
        background-image: url(g1.jpg);
    }
    .m3{
        display: grid;
        text-align: center;
        grid-template-columns: auto auto auto;
        /* gap: 10px 10px; */
    }
    .one3{
        border: 2px solid black;
        background-image: url(g1.jpg);
    }
    #one31{
        grid-column: 1/3;
        grid-row: 1/3;
    }
    .m4{
        display: grid;
        text-align: center;
        grid-template-columns: auto auto auto auto auto ;
        /* gap: 10px 10px; */
    }
    .one4{
        border: 2px solid black;
        background-image: url(g1.jpg);
    }
    #one41{
         grid-column: 1/3;
    }
    #one43{
        grid-column:4/6;
    }
   #one45{
       grid-column: 2/5;
     /* grid-column-end: 4; */
       grid-row: 2/4;
   }
   #one49{
    grid-column: 1/3;
   }
   #one411{
    grid-column: 4/6;
}

    .m14{
        display:grid;
    }
    .one14{
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        /* gap:10px 10px;  */
        text-align: center;
        
    }
    .o14{
        border: 2px solid black;
        /* gap: 10px 10px;  */
        background-image: url(g1.jpg);
        /* grid-row: 1/4;  */
    }
    #o14{
        grid-row: 1/6;
    }
    #o141{
        grid-row: 1/6;
    }
    #o142{
        grid-row: 1/6;
    }
    #o143{
        grid-row: 1/6;
    }
    /* /* #o144{
        grid-row: 1/5;
    } */
   #o144{
        grid-row: 1/6;
    }
     .one15{
        display: grid;
        grid-template-columns: auto;
        /* gap:10px 10px;  */
        text-align: center;
        
     }
     .o15{
        border: 2px solid black;
        background-image: url(g1.jpg);
     }
     .m6{
        display: grid;
        grid-template-columns:auto auto auto;
        /* gap:10px 10px;  */
        text-align: center;
       }
    .one6{
            border: 2px solid black; 
            background-image: url(g1.jpg);
         }
    
    .m23{
        display: grid;              
      }
    #one64{
          grid-column: span 3;
          grid-row: 2/span 6; 
      }
    .m5{
        display: grid;
        grid-template-columns:repeat(4);
         /* gap:10px 10px;   */
        text-align: center;
    }
    .one5{
        border: 2px solid black; 
        background-image: url(g1.jpg);
    }
    #one51{
        grid-row: 1/4;
    }
    #one52{
         grid-column: 2/span 3;
    }
    #one57{
        grid-column-start: 4;
        grid-row: 2/4;
    }
   #one58{
         grid-column: span 3;
    }

    .m7{
         display: grid;
         grid-template-columns: repeat(4);
          /* gap:10px 10px;    */
         text-align: center;
    }

    .one7{
        border: 2px solid black; 
        background-image: url(g1.jpg);
    }
   #one71{
      grid-column: span 4;
     }
     #one72{
        grid-column-start:1;
        grid-row:2/4 ;
     }
     #one73{
        grid-column-start:2;
         grid-row:2/4 ;
     }
    #one74{
         grid-column-start: 3;
         grid-row:2/6 ;
    }
    #one75{
        grid-column-start: 4;
        grid-row:2/6;
   }
   #one76{
      /* grid-column:span 3; */
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row: 4/6;
   }

   .m8{
    display: grid;
    grid-template-columns:auto auto;
    /* gap:10px 10px;    */
    text-align: center;
   }
   .one8{
    border: 2px solid black; 
    background-image: url(g1.jpg);
   }
    #one81{
      
      grid-row: 1/3;
   } 
   #one85{
    grid-column-start: 2;
    grid-row: 3/5;
   }

   .m9{ 
    display: grid;
    grid-template-columns:auto auto auto;
    /* gap:10px 10px;    */
    text-align: center;
   }
   .one9{
    border: 2px solid black;
    background-image: url(g1.jpg);
    }
   #one91{
      grid-column: span 3;
   }
   #one94{
      grid-column-start: 2;
      grid-row: 2/4;
   }
   .m10{
    display: grid;
    grid-template-columns:auto auto auto auto auto; 
    
    /* gap:10px 10px;    */
    text-align: center;
   }
   .one10{
    border: 2px solid black;
    background-image: url(g1.jpg);
    }
    #tw101{
        
        grid-column: span 2;
        grid-row: 1/3;
    }
      #tw105{
       grid-column: span 3;  
       grid-row: 2/4;  
    }  
   #tw108{
    grid-column: span 2;
    grid-row: 4/6;
   }
  #tw109{
      grid-column: span 2;
      grid-row: 4/6;   
  }
   .m11{
    display: grid;
    grid-template-columns:auto auto auto auto; 
    /* gap:10px 10px;    */
    text-align: center;
    }
  .one11{ 
    border: 2px solid black;
    background-image: url(g1.jpg);  
  }
  #one111
    { 
        grid-column: 1/3;
       grid-row: 1/3;
     }
     #one113
     {  
        grid-column-start: 4;
        grid-row: 1/3; 
     }

     #one115
     {
       grid-row: 3/5;
    
     }
     #one117
     {
       grid-column: 3/5;  
       grid-column-start: 3;
       grid-row: 3/5;
     }
   #one119
   {
    grid-column: 1/3;
    grid-row: 5/7;
   }
   #one1111
   {
    grid-column-start:4;
    grid-row: 5/7;
   }

   .m12{
    display: grid;
    grid-template-columns:auto auto auto; 
    /* gap:10px 10px;    */
    text-align: center;
   }

   .one12{ 
    border: 2px solid black;
    background-image: url(g1.jpg);  
  }
  #one124
  {
     grid-column: span 3;
  }
   .m13
   {
    display: grid;
    grid-template-columns:repeat(5); 
    /* gap:10px 10px;    */
    text-align: center;
   }
  .one13
  {
    border: 2px solid black;
    background-image: url(g1.jpg); 
  }
  #one131
  { 
    grid-column: span 5;
  }
  .m16
   {
    display: grid;
    grid-template-columns:auto auto auto auto; 
    /* gap:10px 10px;    */
    text-align: center;
  }
  .one16{
    border: 2px solid black;
    background-image: url(g1.jpg); 
  }
 #one163
 {
    grid-column-start: 3;
    grid-row: 1/4;
 }
 #one165
 {
    grid-column: span 2;
    grid-row: 2/4;
 }
 #one168
 {
    grid-row: 4/7;
 }
 #one1610
 {
    grid-column: 3/5;
    grid-row: 3;
    grid-row: 4/7;
 }
 .m17
 {
  display: grid;
  grid-template-columns:auto auto auto auto auto auto auto auto auto auto auto auto; 
  /* gap:10px 10px;    */
  text-align: center;
 }
 .one17{
    border: 2px solid black;
    background-image: url(g1.jpg); 
 }
  #one171,#one172,#one173
 {
   grid-column: span 4;
 }
  #one174,#one175,#one176,#one8,#one177
 {
     grid-column: span 3;
 } 
 #one178,#one179,#one1710
 {
     grid-column: span 4;
 } 
  #one1711,#one1712,#one1713,#one1714
 {
     grid-column: span 3;
 } 
 .m18
 {
  display: grid;
  grid-template-columns:auto auto auto;
  /* gap:10px 10px;    */
  text-align: center;
 }
 .one18
 {
    border: 2px solid black;
    background-image: url(g1.jpg); 
 }  
  #one185{
    grid-column: 2/4;
    grid-column-start: 2;
    grid-row: 2/4;
  }
  .m19
 {
  display: grid;
  grid-template-columns:auto auto auto auto;
  /* gap:10px 10px;    */
  text-align: center;
 }
 .one19
 {
    border: 2px solid black;
    background-image: url(g1.jpg); 
 }  
 #one191,#one192
 {
    grid-column: span 4;
 }
 #one193{
    grid-row: 3/5;
 }
 #one195
 {
     grid-column-start: 3;
    grid-row: 3/5;
 }
 .m20
 {
  display: grid;
  grid-template-columns:auto auto auto;
  /* gap:10px 10px;    */
  text-align: center;
 }
 .one20
 {
    border: 2px solid black;
    background-image: url(g1.jpg); 
 }  
 #one201
 {
    grid-row: 1/5;
 }
 #one202{
    grid-column: span 2;
 }
#one205{
    grid-column: span 2;
}    

.m21
 {
  display: grid;
  grid-template-columns:auto auto auto;
   /* gap:10px 10px;     */
  text-align: center;
 }
 .one21
 {
    border: 2px solid black;
    background-image: url(g1.jpg); 
 }  
 #one211{
    grid-column: 1/2;
    grid-row: 1/3;
}
#one212{
    grid-column: 2/3;
    grid-row: 1/4;
}
#one213{
    grid-column: 3/4;
    grid-row: 1/3;
}
#one214{
    grid-column: 1/2;
    grid-row: 3/5;
}
#one215{
    grid-column: 3/4;
    grid-row: 3/5;
}
#one216{
    grid-column: 1/2;
    grid-row: 5/7;
}
#one217{
    grid-column: 2/3;
    grid-row: 4/7;
}
#one218{
    grid-column: 3/4;
    grid-row: 5/7;
}
.m22
 {
  display: grid;
  grid-template-columns:auto auto auto auto auto;
   /* gap:10px 10px;     */
  text-align: center;
 }
 .one22
 {
    border: 2px solid black;
    background-image: url(g1.jpg); 
 }  
 #one221{
    grid-column: 1/4;
    grid-row: 1/4;
 }
 #one222{
    grid-column: 4/6;
 }
 #one227{
    grid-row: 4/6;
 }
 #one2210
 {
    grid-column: 4/6;
    grid-column-start: 4;
    grid-row: 4/6;
 }
  .one23{
        display: grid;
        grid-template-columns: auto auto auto auto;
        /* gap:10px 10px;  */
        text-align: center;     
      }
   .o23{
        border: 2px solid black;
        gap: 10px 10px;
        background-image: url(g1.jpg); 
      }